.containerMain {
  margin: 5px;
  padding: 0;
}
main .AppFrame1 {
  background-image:
    linear-gradient(to right bottom, hsla(41, 86%, 38%, 0.5), rgba(69, 69, 69, 0.637)),
    url(../images/pexels-rachel-claire-5865196.jpg);
  width: 100%;
  height: 80vh !important;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* heading */
.Heading-Primary {
  color: white;
  text-transform: capitalize;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.Heading-Primary-main {
  font-family: myFont1;
  display: block;
  font-size: 110px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLift;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-out;
}
.Heading-Primary-sup {
  font-family: myFont1;
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 17px;
  animation-name: moveInRight;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-out;
}

@keyframes moveInLift {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -o-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

 @media (max-width:380px) {
  .containerMain {
    margin: 2px;
    padding: 10px;
  }
  .Heading-Primary-main {
    font-size: 25px;
    font-weight: 200;
    /* letter-spacing: 5px; */
  }
  .Heading-Primary-sup {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 5px;
  } 
}
/* mobile - small screen*/
@media (max-width: 576px) {
  .containerMain {
    margin: 3px;
   
  }
  .Heading-Primary-main {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 18px;
  }
  .Heading-Primary-sup {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 10px;
  }
}
/* medium*/
@media (min-width: 577px) and (max-width: 767.98px) {
  .containerMain {
    margin: 5px;

  }

  .Heading-Primary-main {
    font-size: 110px;
    font-weight: 400;
    letter-spacing: 15px;
  }
  .Heading-Primary-sup {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 12px;
  }
  .Heading-Primary-main {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 20px;
  }
  .Heading-Primary-sup {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
  }
}

@media (min-width: 767.98px) and (max-width: 992px) {
  .containerMain {
    margin: 10px;
    padding: 10px;
  }
  .Heading-Primary-main {
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 15px !important;
  }
  .Heading-Primary-sup {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 9px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .containerMain {
    margin: 15px;
  }
  .Heading-Primary-main {
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 10px;
  }
  .Heading-Primary-sup {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 11px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .containerMain {
    margin: 20px;
  }
  .Heading-Primary-main {
    font-size: 110px;
    font-weight: 400;
    letter-spacing: 20px;
  }
  .Heading-Primary-sup {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 12px;
  }
}
